body{
    margin: 0;
    padding: 0;
}
.header {
    background: linear-gradient(rgba(47, 59, 53, 0.644), rgba(2, 70, 25, 0.589)), url("../../img/20180212_161517.jpg") center/cover no-repeat fixed;
    height: 100vh;
}

@import "modules/mixins";
@import "modules/nav";
@import "modules/header-box";
@import "modules/sections";
@import "modules/footer";
